.mn-is-hidden {
	display: none !important;
}

.mn-is-blur {
	filter: blur(2px);
	transition: 0.3s;
}

.mn-is-clear {
	filter: blur(0);
	transition: 0.3s;
}

.mn-is-fadein {
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
}

.mn-is-fadeout {
	visibility: hidden;
	opacity: 0; 
	transition: 0.3s;
}

#mn-body {
	max-width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
}
