@use "../scss/base/core";
@use "../scss/base/reset";
@use "../scss/abstract/typography";
@use "../scss/abstract/color" as *;

@use "../scss/components/button";
@use "../scss/components/text-input";
@use "../scss/components/password-input";
@use "../scss/components/registration-form";
@use "../scss/components/modal";
@use "../scss/components/header";

body {
	background: $gradient-1;
	color: $monablue-0;
}

html {
	overflow-y: scroll;
}

main > * {

}


