@use '../abstract/sizing' as *; 
@use './text-input' as *;

.mn-c-text-input.mn-is-password {
	width: $textbox-width + (2 * $bs);
	.mn-c-input-box {

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		input {
			width: $textbox-width;
		}
		
		.mn-c-icon-eye {
			width: $bs;
			height: $bs;
		}
		
		.mn-c-show-password {
			cursor: pointer;
		}
	}

	> span {
		width: $textbox-width;
	}
}
