$monablue-0: #0b132b;
$monablue-1: #192a61;
$monablue-1-5: #859ce0;
$monablue-2: #b2c0eb;
$monablue-3: #e5eaf8;

$monagold-0: #f3c677;
$monagold-1: #fdf7ec;

$monared-n1: #7A221A;
$monared-0: #ca382b;
$monared-1: #f3c9c5;

$monagreen-0: #157a6e;
$monagreen-1: #a2d7d1;

$gradient-1: linear-gradient($monablue-2, $monagold-1);
