@use "../scss/base/core";
@use "../scss/base/reset";
@use "../scss/abstract/typography";
@use "../scss/abstract/color" as *;

@use "../scss/components/button";
@use "../scss/components/text-input";
@use "../scss/components/password-input";
@use "../scss/components/registration-form";
@use "../scss/components/modal";

body {
	min-height: 100vh;
	background: $gradient-1;
	color: $monablue-0;
}

#mn-body > * {
	margin: 32px;
}
