@use "../scss/base/reset";
@use "../scss/abstract/typography";
@use "../scss/abstract/color" as *;

@use "../scss/components/button";
@use "../scss/components/text-input";

body {
	min-height: 100vh;
	background: $gradient-1;
	color: $monablue-0;
}

div > * {
	margin: 16px;
}
